body{
	margin: 0;
	padding: 0;
	display: flex;
	min-height: 100vh;
	font-family: 'Arial','Jost', sans-serif;
	background: white;
}
.main{
	width: 1000px;
	height: 600px;
    margin-top: 10px;
    margin-left: 350px;
    justify-content: center;
	background: rgb(255, 255, 255);
	overflow: hidden;

}
#chk{
	display: none;
    font-size: 25px;
}
input,textarea{
	width: 60%;
	height: 30px;
	background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
	justify-content: center;
	display: flex;
	margin: 25px auto;
	outline: 5px;

	font-size: 14px;
}

.title{
 
    color: #8902b3;
    font-size: 25px;
	font-family: Arial Black;
	padding-left: 350px;
}
.color{
    color: #573b8a;
}
button{
	width: 50%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #ffffff;
	background: #8902b3;
	font-size: 20px;
	font-weight: bold;
	margin-top: 20px;
	margin-left: 100px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
button:hover{
	background: #b77dc9;
}
#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.h{
    text-align: center;
	font-family: Arial rgb(250, 249, 249);
    font-size: 28px;
    color: #f8f6f6;
}
.w3-bar-block{
    font-family: Arial, Helvetica, sans-serif;
    color: #fcfcfc;
    font-size: 18px;
}
tr{
	margin: 300px;
	width: 600px;
}
td{
	width: 500px;
}
form{
	font-family: 'Arial','Jost', sans-serif;
}
span{
	color: white;
	font-size: 17px;
}
