# Forcer la détection de Java comme langage principal
*.java linguist-language=Java

# Ignorer les fichiers TypeScript, si vous souhaitez qu'ils n'impactent pas le pourcentage
*.ts linguist-detectable=false

# Détecter les autres langages normalement
*.html linguist-detectable=true
*.css linguist-detectable=true
*.js linguist-detectable=true
