# Forcer Java comme langage principal
*.java linguist-language=Java

# Exclure les fichiers non-Java de la détection
*.html linguist-detectable=false
*.ts linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false
*.json linguist-detectable=false
