

<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">

<body style="background-color:white ;">
 
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">
      
			<div class="signup">
				
          
          <form>
            <label for="chk" aria-hidden="true">Créer un compte</label>
            <app-register-user></app-register-user>
          </form>
			</div>

			<div class="login ">
        <form (ngSubmit)="userLogin(user.cne)">
          
					<label for="chk" aria-hidden="true">Login</label>
          <input type="text" [(ngModel)]="user.cne"  id="cne" placeholder="CNE" name="cne">
          <input type="password" [(ngModel)]="user.password" placeholder="Mot de passe" class="form-control" id="password" name="password">
			 
          <button   type="submit" class="btn btn-primary">Login</button>
      
				</form>
        
      
			</div>
	</div>

</body>





















<!--<div class="container col-md-6" style="margin-left: 450px; margin-top: 50px;" > 
<h1 style="color:red">User Login</h1>
    <form class="container col-md-7"  (ngSubmit)="userLogin()">
        <div >
            <label for="exampleFormControlInput1" class="form-label">UserId</label>
            <input type="text" [(ngModel)]="user.userId" class="form-control" id="userId" name="userId">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" [(ngModel)]="user.password" class="form-control" id="password" name="password">
          </div>
          <button type="submit" class="btn btn-primary">Login</button>
        
    </form>
   
    <div class="container spacer">
      <div class="container">
      <button routerLink="/register-user" class="btn btn-primary">Register Login</button>
   
      </div>
      <div class="container spacer">
      <router-outlet></router-outlet>
      </div>
      </div>
</div>-->
